@model PR89_2017_KOL2.Models.Korisnik
@{
    ViewBag.Title = "Registration";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger" role="alert" style="width: 30%;">
        @ViewBag.Message
    </div>
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong>Registracija</strong></h4>
                <div class="form">
                    <form action="Register" method="post">
                        <input type="text" name="korisnickoIme" class="txt" placeholder="Korisnicko ime" /><br />
                        <span class="field-validation-valid text-danger">
                            @ViewBag.KorMsg
                        </span>
                        <input type="password" name="lozinka" class="txt" placeholder="Lozinka" /><br />
                        <span class="field-validation-valid text-danger">
                            @ViewBag.LozMsg
                        </span>
                        <input type="text" name="ime" class="txt" placeholder="Ime" /><br />
                        <span class="field-validation-valid text-danger">
                            @ViewBag.ImMsg
                        </span>
                        <input type="text" name="prezime" class="txt" placeholder="Prezime" /><br />
                        <span class="field-validation-valid text-danger">
                            @ViewBag.PrzMsg
                        </span>

                        <input type="text" name="email" class="txt" placeholder="Email" /> <br />
                        <span class="field-validation-valid text-danger">
                            @ViewBag.EmMsg
                        </span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pol" id="inlineRadio1" value="MUSKO" checked>
                            <label class="form-check-label" for="inlineRadio1">Musko</label>
                            <input class="form-check-input" type="radio" name="pol" id="inlineRadio2" value="ZENSKO">
                            <label class="form-check-label" for="inlineRadio2">Zensko</label>
                        </div>
                        <span class="field-validation-valid text-danger">
                            @ViewBag.PolMsg
                        </span>
                        <input type="date" name="datumRodjenja" min="1914-01-01" max="@DateTime.Now.ToString("yyyy/mm/dd")" class="txt"> <br />
                        <span class="field-validation-valid text-danger">
                            @if (!String.IsNullOrEmpty(ViewBag.DatMsg))
                            {
                                @ViewBag.DatMsg <br />
                            }
                        </span>
                        <input type="submit" value="Registruj se" name="submit" class="txt2 txt2MOJ">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
