@using CarManagment.Models
@{
    ViewBag.Title = "Cars";
}
<h2>Automobili</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger" role="alert" style="width: 30%;">
        @ViewBag.Message
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form action="~/Cars/SortirajPoMarki" method="get">
                <label>Marka</label><input list="marke" name="marka" style="margin-left:5px;" />
                <datalist id="marke">
                    @foreach (string marka in ViewBag.Marke)
                    {
                        <option value=@marka></option>
                    }
                </datalist><br />
                <input type="submit" name="trazi" value="Sortiraj" style="margin-top: 5px; margin-left:45px;" />
                <input type="submit" name="trazi" value="Trazi" />
            </form>
        </div>
        <div class="col-md-3">
            <form action="~/Cars/SortirajPoModelu" method="get">
                <label>Model</label><input list="modeli" name="model" style="margin-left:5px;" />
                <datalist id="modeli">
                    @foreach (string m in ViewBag.Modeli)
                    {
                        <option value=@m></option>
                    }
                </datalist><br />
                <input type="submit" name="trazi" value="Sortiraj" style="margin-top: 5px; margin-left:45px;" />
                <input type="submit" name="trazi" value="Trazi" />
            </form>
        </div>
        <div class="col-md-3">
            <form action="~/Cars/SortirajPoCeni" method="get">
                <label>Cena</label><input list="sort" name="cena" style="margin-left:5px;" />
                <datalist id="sort">
                    <option value="Opadajuce"></option>
                    <option value="Rastuce"></option>
                </datalist>
                <input type="submit" value="Sortiraj" style="margin-top: 5px; margin-left:40px;" />
            </form>
        </div>
        <div class="col-md-3">
            <form action="~/Cars/NadjiPoCeni" method="get">
                <label>Od</label><input type="number" min="0" name="cenaOd" placeholder="0" style="width:50px; margin-left:5px;" />
                <label>Do</label><input type="number" min="0" name="cenaDo" placeholder="0" style="width:50px; margin-left:5px;" /><br />
                <input type="submit" value="Trazi" style="margin-left: 25px; margin-top:3px;" />

            </form>
        </div>
    </div>
</div>
@{
    Korisnik korisnik = (Korisnik)Session["korisnik"];
}
<div class="container">
    <div class="row col-lg-12 col-md-offset custyle">
        <table class="table table-striped custab">
            <thead>
                <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
                <tr>
                    <th>ID</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Oznaka sasije</th>
                    <th>Boja</th>
                    <th>Broj vrata</th>
                    <th>Opis</th>
                    <th>Vrsta Goriva</th>
                    <th>Cena</th>
                    @if (korisnik != null && korisnik.Uloga.Equals(Role.ADMINISTRATOR))
                    {
                        <th>Kupac</th>
                        <th class="text-center">Izmeni</th>

                    }
                    else if (korisnik != null && korisnik.Uloga.Equals(Role.KUPAC))
                    {
                        <th class="text-center">Kupi</th>
                    }
                    else
                    {
                        <!--OVO JE DIZAJNERSKI-->
                        <th></th>
                    }
                </tr>
            </thead>
            @foreach (Vozilo vozilo in ViewBag.Vozila)
            {
                <tr>
                    <td>@vozilo.Id</td>
                    <td>@vozilo.Marka</td>
                    <td>@vozilo.Model</td>
                    <td>@vozilo.OznakaSasije</td>
                    <td>@vozilo.Boja</td>
                    <td>@vozilo.BrojVrata</td>
                    <td>@vozilo.Opis</td>
                    <td>@vozilo.VrstaGoriva</td>
                    <td>@vozilo.Cena</td>
                    @if (korisnik != null && korisnik.Uloga.Equals(Role.ADMINISTRATOR))
                    {

                        IEnumerable<Korisnik> korisnici = ViewBag.Korisnici;

                        Korisnik kupac = korisnici.Where(x => x.Id == vozilo.KupacId).SingleOrDefault();
                        string k = (kupac == null) ? "Na prodaju" : kupac.KorisnickoIme;
                        <th>@k</th>
                    }

                    <td class="text-center">
                        @if (korisnik != null)
                        {
                            if (vozilo.NaStanju == true)
                            {<form action="BuyEditCar" method="post">
                                    <input type="number" name="id" value=@vozilo.Id hidden />
                                    @if (korisnik.Uloga.Equals(Role.KUPAC))
                                    {
                                        <div class="btn btn-success btn-xs">
                                            <input type="submit" value="Kupi" name="button" style="background-color: transparent; border: none;" />
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn btn-info btn-xs">
                                            <input type="submit" value="Izmeni" name="button" style="background-color: transparent; border: none;" />
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </div>
                                    }
                                </form>
                            }
                        }

                    </td>
                </tr>
            }
        </table>

        @if (korisnik != null && korisnik.Uloga.Equals(Role.ADMINISTRATOR))
        {
            <a href="AddCar" class="btn btn-md btn-primary pull-right">Dodaj novo vozilo</a>
        }

    </div>
</div>

