@using PR89_2017_KOL2.Models
@{
    ViewBag.Title = "Users";
}

<h2>Korisnici</h2>

<div>
    @ViewBag.Message
</div>
<div>
    <div class="container">
        <div class="row col-lg-12 col-md-offset custyle">
            <table class="table table-striped custab">
                <thead>
                    <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
                    <tr>
                        <th>ID</th>
                        <th>Korisnicko ime</th>
                        <th>Lozinka</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Pol</th>
                        <th>Email</th>
                        <th>Datum rodjenja</th>
                        <th>Uloga</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                @foreach (Korisnik korisnik in ViewBag.Korisnici)
                {
                    <tr>
                        <td>@korisnik.Id</td>
                        <td>@korisnik.KorisnickoIme</td>
                        <td>@korisnik.Lozinka</td>
                        <td>@korisnik.Ime</td>
                        <td>@korisnik.Prezime</td>
                        <td>@korisnik.Pol.ToString()</td>
                        <td>@korisnik.Email</td>
                        <td>@korisnik.DatumRodjenja.ToShortDateString()</td>
                        <td>@korisnik.Uloga.ToString()</td>
                        <td class="text-center">
                            <form action="deleteUser" method="delete">
                                <div class="btn btn-danger btn-xs">
                                    <input type="text" name="korIme" value=@korisnik.KorisnickoIme hidden><span class="glyphicon glyphicon-remove"></span>
                                    <input type="submit" value="Delete" style="background-color: transparent; border: none;"/>
                                </div>
                            </form>
                        </td>
                     
                    </tr>

                    }
            </table>
        </div>
    </div>
</div>
